<div class="banner-small" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('<%= @travel.visuals.first.visual_url %>');">
  <div class="banner-content">
    <h1> <%= @travel.country.name %></h1>
    <div class="dash-big"></div>
    <h3>By <%= @travel.author.nil? ? "a discreet traveler" : @travel.author.capitalize %></h3>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="description-quick-facts">
      <div class="col-xs-12 col-md-7">
        <div class="description">
          <h2>Details of this exploration</h2>
          <p> <%= @travel.description %> </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-5">
        <div class="quick-facts">
          <h2>Quick facts</h2>
          <div class="tags">
            <div class="tag">
              <%= image_tag "duration.png", class: "tag-avatar" %>
              <p>3 weeks</p>
            </div>
            <div class="tag">
              <%= image_tag "nature.png", class: "tag-avatar" %>
              <p>nature</p>
            </div>
            <div class="tag">
              <%= image_tag "mustdo.png", class: "tag-avatar" %>
              <p>must do</p>
            </div>
            <div class="tag">
              <%= image_tag "beach.png", class: "tag-avatar" %>
              <p>beach</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row visuals">
    <h2>Experiences</h2>
    <% @travel.visuals.each do |visual| %>
      <div class="col-xs-12 col-md-4">
        <div class="card hover-description" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= visual.visual_url %>');">
          <div class="card-category">
            <h3><%= visual.location %></h3>
          </div>
          <div class="card-hidden-description">
            <p><%= visual.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="map">
    //

  </div>

  <div class="recommendations">
    <h2>Our preferred places</h2>

  </div>

</div>
